# Homework 3  - Tryout pandas and numpy

## Homework 3.1

### 3.1.a
Load the data from: http://opendata.dc.gov/datasets that I have include in this github   
into a dataframe.  ( The file has been is available in directory ./data/ccp_current_csv.csv )

In [1]:
import pandas as pd
data=pd.read_csv(".\data\ccp_current_csv.csv") #csv file from data directory is read and loaded in 'data'
print data

                 STREET QUADRANT            FROMINTERSECTION  \
0               13th St       NW                  Kennedy St
1                  S St       NW            North Capitol St
2      Rhode Island Ave       NE            Brentwood Rd (W)
3               Mill Rd       NW                     27th St
4      Rhode Island Ave       NE            Brentwood Rd (M)
5             Mellon St       SE                      5th St
6          Nebraska Ave       NW              Northampton St
7           Military Rd       NW                     30th St
8          Nebraska Ave       NW                   Oliver St
9               16th St       NW                  Alaska Ave
10         Shoemaker St       NW                 Linnean Ave
11         Underwood St       NW             Piney Branch Rd
12             Elder St       NW                      7th St
13              26th St       NW              Northampton St
14               4th St       NW              Madison St (N)
15         Underwood Pl       NW            North Capitol St
16              20th St       NW                 Columbia Rd
17          Quintana Pl       NE                      3rd St
18         Tuckerman St       NE                  Kansas Ave
19              Eads St       NE                     45th St
20               4th St       SE                  Newcomb St
21              Belt Rd       NW                  Jenifer St
22            Oneida St       NE           New Hampshire Ave
23      Carrollsburg Pl       SW                        O St
24              23rd St       NW          Washington Cir (N)
25           Kanawha St       NW                    Utah Ave
26      Piney Branch Rd       NW                Underwood St
27              30th St       NW               Stephenson Pl
28              32nd St       NW                 Woodland Dr
29              33rd St       NW            Broad Branch Ter
..                  ...      ...                         ...
435      New Jersey Ave       NW                        F St
436             15th St       NE                     Ames Pl
437     East Capitol St       BN                        C St
438         Randolph St       NE                     25th Pl
439    South Dakota Ave       NE                Delafield St
440          Wheeler Rd       SE                 Congress St
441      New Jersey Ave       NW                        H St
442     Mount Olivet Rd       NE               Brentwood Pky
443              Oak St       NW                     16th St
444        Michigan Ave       NE                     14th St
445                C St       NE                     20th St
446        Virginia Ave       SE                  6th St (S)
447              Oak St       NW                Brown St (N)
448         Florida Ave       NE                New York Ave
449  North Carolina Ave       NE         East Capitol St (E)
450            Elder St       NW                      8th St
451          Benning Rd       SE                        G St
452           School St       SW                      4th St
453             18th St       NW                        M St
454       Longfellow St       NW                     16th St
455             10th St       NW                        M St
456          Woodley Rd       NW             Connecticut Ave
457          Woodley Rd       NW           Cathedral Ave (E)
458              3rd St       SW            Independence Ave
459             16th St       NW                 Primrose Rd
460          Woodley Rd       NW                  Woodley Pl
461         Western Ave       NW         Chevy Chase Cir (E)
462             49th St       NW                   Fulton St
463       Quackenbos St       NE           New Hampshire Ave
464    North Capitol St       BN  Hawaii Ave  Rock Creek Chu

                 TOINTERSECTION  NOOFBLOCKS                 WORKDESCRIPTION  \
0                 Longfellow St           1  Pavement Resurface/restoration
1                        3rd St           3                   Regular Cover
2              Brentwood Rd (M)           1  Pavement Resurface/restoration
3                    Cul De Sac           1  Pavement Resurface/restoration
4    14th St  Evarts St  Montan           2  Pavement Resurface/restoration
5     Martin Luther King Jr Ave           1  Pavement Resurface/restoration
6                     Oliver St           1  Pavement Resurface/restoration
7               Broad Branch Rd           4  Pavement Resurface/restoration
8                      Utah Ave           1  Pavement Resurface/restoration
9                   Primrose Rd          13                  Reconstruction
10                    Tilden St           1                       Upgrading
11              Georgia Ave (S)           1                  Reconstruction
12                       8th St           1                   Regular Cover
13               Rittenhouse St           1                   Regular Cover
14                   Peabody St           5                   Regular Cover
15                       1st St           1  Pavement Resurface/restoration
16                  Wyoming Ave           1  Pavement Resurface/restoration
17                  Eastern Ave           1  Pavement Resurface/restoration
18                  Eastern Ave           1                  Reconstruction
19                      47th St           1  Pavement Resurface/restoration
20                    Orange St           2  Pavement Resurface/restoration
21                  Military Rd           1                  Reconstruction
22                       6th St           2                   Regular Cover
23                         P St           1  Pavement Resurface/restoration
24                         M St           2  Pavement Resurface/restoration
25                      30th St           2                  Reconstruction
26                   Venable Pl           2  Pavement Resurface/restoration
27                  Tennyson St           1                   Regular Cover
28                Cleveland Ave           1                   Regular Cover
29                  Linnean Ter           1                   Regular Cover
..                          ...         ...                             ...
435                        G St           2  Pavement Resurface/restoration
436            Constitution Ave           1  Pavement Resurface/restoration
437           Anacostia Fwy (E)           2  Pavement Resurface/restoration
438                     26th St           1  Pavement Resurface/restoration
439                    Riggs Rd          10         Federal Aid Resurfacing
440                 Congress St           0             Traffic Signal Work
441                        I St           1  Pavement Resurface/restoration
442           West Virginia Ave           5  Pavement Resurface/restoration
443                Brown St (S)           1  Pavement Resurface/restoration
444                     16th St           1  Pavement Resurface/restoration
445                     22nd St           1  Pavement Resurface/restoration
446                  7th St (S)           1  Pavement Resurface/restoration
447                  Cul De Sac           1  Pavement Resurface/restoration
448                        O St           1  Pavement Resurface/restoration
449                     13th St           1  Pavement Resurface/restoration
450                 Georgia Ave           2  Pavement Resurface/restoration
451                        G St           0      High Accident Intersection
452                      6th St           1  Pavement Resurface/restoration
453  Connecticut Ave  Jefferson           1  Pavement Resurface/restoration
454                  Cul De Sac           1  Pavement Resurface/restoration
455                        N St           1  Pavement Resurface/restoration
456        29th St  Garfield St           3           Street Light Projects
457           Cathedral Ave (E)           0           Street Light Projects
458                        C St           1           Street Light Projects
459               Maryland Line           5                       Upgrading
460             Connecticut Ave           1           Street Light Projects
461                 Chestnut St          19         Federal Aid Resurfacing
462                 Garfield St           1  Pavement Resurface/restoration
463                 Eastern Ave           2  Pavement Resurface/restoration
464                 Buchanan St           1  Pavement Resurface/restoration

     YEARBUDGETED  PERCENTCOMPLETED     STATUS  MILES      ...       \
0            2004               100  Completed   0.07      ...
1            1999               100  Completed   0.33      ...
2            2004               100  Completed   0.09      ...
3            2004               100  Completed   0.07      ...
4            2005               100  Completed   0.16      ...
5            2005               100  Completed   0.20      ...
6            2004               100  Completed   0.07      ...
7            2004               100  Completed   0.35      ...
8            2005               100  Completed   0.04      ...
9            1999               100  Completed   0.97      ...
10           2004               100  Completed   0.06      ...
11           2004               100  Completed   0.08      ...
12           2004               100  Completed   0.08      ...
13           2004               100  Completed   0.16      ...
14           1999               100  Completed   0.27      ...
15           2004               100  Completed   0.14      ...
16           2004               100  Completed   0.04      ...
17           2004               100  Completed   0.12      ...
18           2004               100  Completed   0.12      ...
19           2005               100  Completed   0.16      ...
20           2005               100  Completed   0.11      ...
21           2004               100  Completed   0.16      ...
22           1999               100  Completed   0.34      ...
23           2004               100  Completed   0.06      ...
24           2004               100  Completed   0.15      ...
25           2004               100  Completed   0.21      ...
26           2004               100  Completed   0.16      ...
27           2004               100  Completed   0.15      ...
28           2004               100  Completed   0.06      ...
29           2004               100  Completed   0.14      ...
..            ...               ...        ...    ...      ...
435          2004               100  Completed   0.07      ...
436          2004               100  Completed   0.04      ...
437          2004               100  Completed   0.52      ...
438          2004               100  Completed   0.05      ...
439          2004               100  Completed   0.68      ...
440          2004               100  Completed   0.00      ...
441          2004               100  Completed   0.08      ...
442             4               100  Completed   0.33      ...
443          2005               100  Completed   0.04      ...
444          2004               100  Completed   0.11      ...
445          2004               100  Completed   0.06      ...
446          2004               100  Completed   0.16      ...
447          2004               100  Completed   0.09      ...
448          2004               100  Completed   0.05      ...
449          2004               100  Completed   0.04      ...
450          2005               100  Completed   0.11      ...
451          2004               100  Completed   0.00      ...
452          2004               100  Completed   0.13      ...
453          2005               100  Completed   0.06      ...
454          2004               100  Completed   0.10      ...
455          2005               100  Completed   0.11      ...
456          2003               100  Completed   0.27      ...
457          2003               100  Completed   0.00      ...
458          2003               100  Completed   0.10      ...
459          2005               100  Completed   0.27      ...
460          2003               100  Completed   0.07      ...
461          2004               100  Completed   1.19      ...
462          2004               100  Completed   0.12      ...
463          2005               100  Completed   0.24      ...
464          2003               100  Completed   0.02      ...

           YCOORD   LATITUDE  LONGITUDE  \
0    143205.11981  38.956747 -77.029694
1    138468.90256  38.914085 -77.012411
2    139574.10659  38.924041 -76.987221
3    138132.90198  38.911046 -77.054077
4    139657.25318  38.924790 -76.985068
5    130948.25958  38.846337 -76.998463
6    144260.95520  38.966246 -77.061675
7    143680.41824  38.961016 -77.062994
8    144332.34858  38.966889 -77.061126
9    145993.53492  38.981864 -77.036344
10   141355.75200  38.940080 -77.052639
11   144524.25789  38.968631 -77.026720
12   145484.90736  38.977286 -77.023701
13   144523.71012  38.968616 -77.055131
14   143645.75015  38.960719 -77.018034
15   144575.76052  38.969098 -77.010335
16   138911.21635  38.918061 -77.045630
17   144049.46375  38.964357 -77.001779
18   144380.43626  38.967338 -77.005814
19   136373.00889  38.895188 -76.936314
20   131031.17766  38.847084 -77.003775
21   143576.29028  38.960067 -77.080944
22   143788.68656  38.962008 -77.002159
23   133852.11487  38.872496 -77.009900
24   137368.33245  38.904161 -77.050114
25   143966.17156  38.963592 -77.058648
26   144641.00247  38.969683 -77.025542
27   144904.92557  38.972048 -77.059057
28   139907.44198  38.927027 -77.063269
29   143174.30874  38.956455 -77.065420
..            ...        ...        ...
435  136662.79676  38.897815 -77.012040
436  135988.53001  38.891741 -76.983645
437  135773.18857  38.889796 -76.963257
438  141101.24934  38.937795 -76.970647
439  142828.69431  38.953360 -76.997760
440  130311.51001  38.840601 -76.993666
441  136989.68608  38.900760 -77.013111
442  138177.81094  38.911463 -76.988473
443  140800.56074  38.935084 -77.036751
444  141629.29443  38.942555 -76.984661
445  136161.74371  38.893300 -76.975688
446  134569.68537  38.878960 -76.997601
447  140870.01258  38.935710 -77.037453
448  137873.16505  38.908719 -77.004188
449  135850.45600  38.890497 -76.988605
450  145484.83613  38.977285 -77.025480
451  134852.81001  38.881492 -76.933040
452  135121.52451  38.883930 -77.018730
453  137578.57894  38.906058 -77.041683
454  143308.79120  38.957679 -77.037145
455  137620.63091  38.906441 -77.025983
456  139776.68682  38.925854 -77.055159
457  139708.16000  38.925239 -77.050146
458  135440.84902  38.886807 -77.015201
459  146987.84913  38.990821 -77.036322
460  139730.94291  38.925443 -77.052011
461  145110.29844  38.973893 -77.068950
462  139891.73363  38.926865 -77.093990
463  143983.75188  38.963765 -77.001975
464  142147.02707  38.947219 -77.008609

                                           PROJECTNOTE  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                  POKA-2003-B-0048-JJ
4                                                  NaN
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                                  NaN
9    Reconstruction of 16th St. from Alaska to Prim...
10                                                 NaN
11                                                 NaN
12                                                 NaN
13                                                 NaN
14                                                 NaN
15                                                 NaN
16                                 POKA-2003-B-0048-JJ
17                                                 NaN
18                                                 NaN
19                                                 NaN
20                                                 NaN
21                                                 NaN
22                                                 NaN
23                                                 NaN
24                                                 NaN
25                                                 NaN
26                                                 NaN
27                                                 NaN
28                                                 NaN
29                                                 NaN
..                                                 ...
435                                                NaN
436                                                NaN
437                                FY-04 per Sylvester
438                                                NaN
439    Per Berehager  construction will begin in FY-04
440                                                NaN
441                                                NaN
442                                                NaN
443                                POKA-2003-B-0048-JJ
444                                                NaN
445                                                NaN
446                                                NaN
447                                POKA-2003-B-0048-JJ
448                                                NaN
449                                                NaN
450                                                NaN
451                                                NaN
452                                POKA-2003-B-0048-JJ
453                                POKA-2004-B-0016-JJ
454                                                NaN
455                                                NaN
456                                                NaN
457                                                NaN
458                                                NaN
459                                                NaN
460                                                NaN
461                                                NaN
462                                   2nd Aid to State
463                                                NaN
464                                                NaN

                                           PROJECTNAME         PROJECTMGR  \
0                                               FedAid    Paul Stephenson
1                                                  NaN                NaN
2             Fedral Aid Citywide Pavement Restoration  Mohamed Abdullahi
3    Citywide Pavement Restoration Contract (Local ...    Maduabuchi Udeh
4                                                  NaN                NaN
5                                        CIP_2004-2009              FY-05
6                        Citywide Pavement Restoration    Paul Stephenson
7                                       FedAid_6YR_CIP    Paul Stephenson
8                         Citywide Pavement Restoratin    paul Stephenson
9    Recons of 16TH St. from Alaska to Prime Rose  ...   Eskender  Konjit
10                                                 NaN                NaN
11                       Citywide Pavement Restoration    Paul Stephenson
12                                                 NaN                NaN
13                                                 NaN                NaN
14                                                 NaN                NaN
15                       Citywidy Pavement Restoration    Paul Stephenson
16   Citywide Pavement Restoration Contract (Local ...    Maduabuchi Udeh
17                       Citywide Pavement Restoration    Paul Stephenson
18                       Citywide Pavement Restoration    Paul Stephenson
19   CITYWIDE PAVEMENT RESTORATION CONTRACT (LOCAL ...                NaN
20   CITYWIDE PAVEMENT RESTORATION CONTRACT (LOCAL ...                NaN

### Reference: 
http://pythonhow.com/data-analysis-with-python-pandas/

### 3.1.a  what is its shape and what does that mean?

Shape property is used to know the number of rows and columns in the dataset.

In [4]:
from numpy import *
data.shape  # or shape(data)

(465, 27)

## Homework 3.2
 What are the number of rows in each 'QUADRANT' ?

In [27]:
# Displays the rows in each 'QUADRANT'
data['QUADRANT'].value_counts()

NW    195
NE    163
SE     84
BN     12
SW     11
Name: QUADRANT, dtype: int64

## Homework 3.3 - Array math demonstration 
For two arrarys  

a= [1,2,3,4]  type=float

b= [5,6,7,8]  type=float

Peform the following array operations using numpy   
( show both operational use of numpy and functional (example addition operation => + vs addition function => numbpy.add() )

### 3.3.1 addition a+b

In [78]:
# Operational use
import numpy as np
a=np.array(([1,2,3,4]), dtype=float)
b=np.array(([5,6,7,8]),dtype=float)
a+b

array([  6.,   8.,  10.,  12.])

In [49]:
# Functional use

a=array([1,2,3,4])
b=array([5,6,7,8])
c = np.add((a),(b), dtype=float )
c

array([  6.,   8.,  10.,  12.])

### 3.3.2 subtraction a-b

In [79]:
# Operational use

a=np.array(([1,2,3,4]), dtype=float)
b=np.array(([5,6,7,8]),dtype=float)
a-b

array([-4., -4., -4., -4.])

In [51]:
# Functional use

a=array([1,2,3,4])
b=array([5,6,7,8])
c = np.subtract((a),(b), dtype=float )
c

array([-4., -4., -4., -4.])

### 3.3.3 multiplication a*b

In [80]:
# Operational use

a=np.array(([1,2,3,4]), dtype=float)
b=np.array(([5,6,7,8]),dtype=float)
a*b

array([  5.,  12.,  21.,  32.])

In [53]:
# Functional use

a=array([1,2,3,4])
b=array([5,6,7,8])
c = np.multiply((a),(b), dtype=float )
c

array([  5.,  12.,  21.,  32.])

### 3.3.4 divsion a/b

In [81]:
# Operational use

a=np.array(([1,2,3,4]), dtype=float)
b=np.array(([5,6,7,8]),dtype=float)
a/b

array([ 0.2       ,  0.33333333,  0.42857143,  0.5       ])

In [55]:
# Functional use

a=array([1,2,3,4])
b=array([5,6,7,8])
c = np.divide((a),(b), dtype=float )
c

array([ 0.2       ,  0.33333333,  0.42857143,  0.5       ])

### 3.3.5 modulo  a%b

In [82]:
# Operational use

a=np.array(([1,2,3,4]), dtype=float)
b=np.array(([5,6,7,8]),dtype=float)
a%b

array([ 1.,  2.,  3.,  4.])

In [57]:
# Functional use

a=array([1,2,3,4])
b=array([5,6,7,8])
c = np.mod((a),(b), dtype=float )
c

array([ 1.,  2.,  3.,  4.])

### 3.3.6 power  a^b

In [83]:
# Operational use

a=np.array(([1,2,3,4]), dtype=float)
b=np.array(([5,6,7,8]),dtype=float)
a**b

array([  1.00000000e+00,   6.40000000e+01,   2.18700000e+03,
         6.55360000e+04])

In [59]:
# Functional use

a=array([1,2,3,4])
b=array([5,6,7,8])
c = np.power((a),(b), dtype=float )
c

array([  1.00000000e+00,   6.40000000e+01,   2.18700000e+03,
         6.55360000e+04])

## Homework 3.4
Find your own data and load it into a dataframe

In [60]:
import pandas as pd
data1=pd.read_csv(".\data\dataset.csv")
print data1

     Customer       State  Customer Lifetime Value Response  Coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
5     OC83172      Oregon              8256.297800      Yes     Basic
6     XZ87318      Oregon              5380.898636      Yes     Basic
7     CF85061     Arizona              7216.100311       No   Premium
8     DY87989      Oregon             24127.504020      Yes     Basic
9     BQ94931      Oregon              7388.178085       No  Extended
10    SX51350  California              4738.992022       No     Basic
11    VQ65197  California              8197.197078       No     Basic
12    DP39365  California              8798.797003       No   Premium
13    SJ95423     Arizona              8819.018934      Yes     Basic
14    IL66569  California              5384.431665       No     Basic
15    BW63560      Oregon              7463.139377       No     Basic
16    FV94802      Nevada              2566.867823       No     Basic
17    OE15005  California              3945.241604       No     Basic
18    WC83389      Oregon              5710.333115       No     Basic
19    FL50705  California              8162.617053       No   Premium
20    ZK25313      Oregon              2872.051273       No     Basic
21    SV62436  Washington              3041.791561       No  Extended
22    YH23384     Arizona             24127.504020      Yes     Basic
23    TZ98966      Nevada              2450.190996       No     Basic
24    HM55802  California              2392.107890       No     Basic
25    FS42516      Oregon              5802.065978       No     Basic
26    US89481  California              3946.372085       No   Premium
27    HO30839  Washington              5346.916576       No  Extended
28    GE62437     Arizona             12902.560140       No   Premium
29    EJ77678      Oregon              3235.360468       No  Extended
...       ...         ...                      ...      ...       ...
9104  LM97847  California              2615.139220       No     Basic
9105  IK96366  California              5551.398167       No  Extended
9106  SJ86522  California              6827.044423       No     Basic
9107  UU42868  California              5619.689084      Yes   Premium
9108  GX11087  California              3907.028747       No     Basic
9109  JR41742  California              3622.872124       No     Basic
9110  RA89822  California             34611.378960      Yes     Basic
9111  IJ25462  California              2845.520933       No     Basic
9112  ZP86347  California              5500.577411       No  Extended
9113  HO82823  California              3358.532935       No  Extended
9114  EA54906  California              7501.661322       No  Extended
9115  BC64697  California             11663.985720       No   Premium
9116  VV68726  California              5133.397765       No     Basic
9117  QR91631  California              8732.090534       No     Basic
9118  OT56964  California              9424.256842       No     Basic
9119  YX35990  California              5479.555081      Yes     Basic
9120  RN61682  California              2114.738469       No     Basic
9121  BB10681  California              4140.648654       No  Extended
9122  FH43628  California             25464.820590      Yes  Extended
9123  WZ45103  California              5678.050167      Yes  Extended
9124  CB59349  California             16261.585500       No  Extended
9125  RX91025  California             19872.262000       No   Premium
9126  AC13887  California              4628.995325       No     Basic
9127  TF56202  California              5032.165498       No     Basic
9128  YM19146  California              4100.398533       No   Premium
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

                 Education Effective To Date EmploymentStatus Gender  Income  \
0                 Bachelor           2/24/11         Employed      F   56274
1                 Bachelor           1/31/11       Unemployed      F       0
2                 Bachelor           2/19/11         Employed      F   48767
3                 Bachelor           1/20/11       Unemployed      M       0
4                 Bachelor            2/3/11         Employed      M   43836
5                 Bachelor           1/25/11         Employed      F   62902
6                  College           2/24/11         Employed      F   55350
7                   Master           1/18/11       Unemployed      M       0
8                 Bachelor           1/26/11    Medical Leave      M   14072
9                  College           2/17/11         Employed      F   28812
10                 College           2/21/11       Unemployed      M       0
11                 College            1/6/11       Unemployed      F       0
12                  Master            2/6/11         Employed      M   77026
13    High School or Below           1/10/11         Employed      M   99845
14                 College           1/18/11         Employed      M   83689
15                Bachelor           1/17/11         Employed      F   24599
16    High School or Below            2/6/11    Medical Leave      M   25049
17                 College            1/5/11    Medical Leave      M   28855
18                 College           2/27/11         Employed      M   51148
19    High School or Below           1/14/11         Employed      F   66140
20    High School or Below           2/19/11         Employed      M   57749
21                Bachelor           1/21/11         Disabled      F   13789
22                Bachelor           1/26/11    Medical Leave      M   14072
23                Bachelor           2/24/11       Unemployed      F       0
24                Bachelor            2/5/11         Disabled      F   17870
25                 College           1/29/11         Employed      M   97541
26                Bachelor           2/28/11       Unemployed      F       0
27                  Master           2/12/11         Disabled      F   10511
28                 College            2/2/11         Employed      F   86584
29                  Master            2/7/11         Employed      F   75690
...                    ...               ...              ...    ...     ...
9104               College            1/9/11         Employed      M   57023
9105               College           2/22/11         Employed      M   36918
9106  High School or Below           1/12/11       Unemployed      M       0
9107  High School or Below           1/26/11       Unemployed      M       0
9108  High School or Below           1/28/11       Unemployed      F       0
9109               College           1/25/11       Unemployed      M       0
9110  High School or Below           1/14/11         Employed      F   20090
9111              Bachelor            2/7/11         Employed      M   86631
9112               College           2/12/11         Employed      F   44019
9113              Bachelor            1/6/11         Employed      F   59367
9114  High School or Below           2/23/11         Employed      F   38874
9115               College           2/17/11       Unemployed      F       0
9116  High School or Below           1/26/11         Disabled      F   28647
9117  High School or Below           1/20/11         Employed      F   51205
9118                Master           2/10/11         Employed      M   46897
9119                Master           1/13/11         Employed      M   56005
9120              Bachelor           2/19/11       Unemployed      F       0
9121               College           1/17/11       Unemployed      F       0
9122               College            2/1/11          Retired      F   13663
9123              Bachelor           1/19/11       Unemployed      F       0
9124                Master           1/20/11         Employed      M   60646
9125  High School or Below           1/31/11       Unemployed      M       0
9126              Bachelor            1/9/11       Unemployed      M       0
9127               College           2/12/11         Employed      M   66367
9128               College            1/6/11         Employed      F   47761
9129              Bachelor           2/10/11         Employed      M   71941
9130               College           2/12/11         Employed      F   21604
9131              Bachelor            2/6/11       Unemployed      M       0
9132               College            2/3/11         Employed      M   21941
9133               College           2/14/11       Unemployed      M       0

         ...      Months Since Policy Inception Number of Open Complaints  \
0        ...                                  5                         0
1        ...                                 42                         0
2        ...                                 38                         0
3        ...                                 65                         0
4        ...                                 44                         0
5        ...                                 94                         0
6        ...                                 13                         0
7        ...                                 68                         0
8        ...                                  3                         0
9        ...                                  7                         0
10       ...                                  5                         0
11       ...                                 87                         0
12       ...                                 82                         2
13       ...                                 25                         1
14       ...                                 10                         2
15       ...                                 50                         1
16       ...                                  7                         0
17       ...                                 59                         0
18       ...                                  1                         0
19       ...                                 21                         0
20       ...                                 21                         0
21       ...                                 49                         0
22       ...                                  3                         0
23       ...                                 44                         3
24       ...                                 91                         0
25       ...                                  1                         0
26       ...                                 47                         0
27       ...                                 64                         0
28       ...                                 54                         2
29       ...                                 44                         1
...      ...                                ...                       ...
9104     ...                                 59                         0
9105     ...                                 77                         3
9106     ...                                 26                         0
9107     ...                                  5                         0
9108     ...                                  8                         0
9109     ...                                 52                         0
9110     ...                                 59                         0
9111     ...                                 44                         1
9112     ...                                 60                         0
9113     ...                                 48                         0
9114     ...                                 86                         0
9115     ...                                 34                         0
9116     ...                                 59                         0
9117     ...                                 52                         0
9118     ...                                 11                         0
9119     ...                                 30                         1
9120     ...                                 69                         5
9121     ...                                 35                         2
9122     ...                                 66                         0
9123     ...                                 44                         0
9124     ...                                 42                         0
9125     ...                                 35                         0
9126     ...                                 21                         0
9127     ...                                 48                         0
9128     ...                                 58                         0
9129     ...                                 89                         0
9130     ...                                 28                         0
9131     ...                                 37                         3
9132     ...                                  3                         0
9133     ...                                 90                         0

      Number of Policies     Policy Type        Policy  Renew Offer Type  \
0                      1  Corporate Auto  Corporate L3            Offer1
1                      8   Personal Auto   Personal L3            Offer3
2                      2   Personal Auto   Personal L3            Offer1
3                      7  Corporate Auto  Corporate L2            Offer1
4                      1   Personal Auto   Personal L1            Offer1
5                      2   Personal Auto   Personal L3            Offer2
6                      9  Corporate Auto  Corporate L3            Offer1
7                      4  Corporate Auto  Corporate L3            Offer1
8                      2  Corporate Auto  Corporate L3            Offer1
9                      8    Special Auto    Special L2            Offer2
10                     3   Personal Auto   Personal L3            Offer1
11                     3   Personal Auto   Personal L3            Offer2
12                     3  Corporate Auto  Corporate L1            Offer2
13                     8  Corporate Auto  Corporate L3            Offer2
14                     8  Corporate Auto  Corporate L3            Offer4
15                     2  Corporate Auto  Corporate L2            Offer2
16                     1   Personal Auto   Personal L3            Offer2
17                     1   Personal Auto   Personal L2            Offer3
18                     7   Personal Auto   Personal L2            Offer2
19                     3  Corporate Auto  Corporate L2            Offer1
20                     1   Personal Auto   Personal L2            Offer1
21                     1   Personal Auto   Personal L3            Offer4
22                     2   Personal Auto   Personal L3            Offer1
23                     1  Corporate Auto  Corporate L3            Offer1
24                     1  Corporate Auto  Corporate L2            Offer2
25                     3   Personal Auto   Personal L3            Offer2
26                     1   Personal Auto   Personal L3            Offer1
27                     1  Corporate Auto  Corporate L1            Offer1
28                     2   Personal Auto   Personal L3            Offer1
29                     1   Personal Auto   Personal L3            Offer2
...                  ...             ...           ...               ...
9104                   1   Personal Auto   Personal L2            Offer2
9105                   3   Personal Auto   Personal L1            Offer1
9106                   9  Corporate Auto  Corporate L3            Offer2
9107                   1  Corporate Auto  Corporate L2            Offer2
9108                   1   Personal Auto   Personal L2            Offer1
9109                   1  Corporate Auto  Corporate L3            Offer1
9110                   2   Personal Auto   Personal L2            Offer2
9111                   1   Personal Auto   Personal L2            Offer3
9112                   1   Personal Auto   Personal L3            Offer3
9113                   1   Personal Auto   Personal L3            Offer2
9114                   3  Corporate Auto  Corporate L1            Offer2
9115                   2   Personal Auto   Personal L3            Offer3
9116                   3   Personal Auto   Personal L2            Offer1
9117                   2   Personal Auto   Personal L1            Offer2
9118                   3  Corporate Auto  Corporate L3            Offer1
9119                   3  Corporate Auto  Corporate L2            Offer1
9120                   1   Personal Auto   Personal L2            Offer3
9121                   1  Corporate Auto  Corporate L3            Offer1
9122                   2   Personal Auto   Personal L2            Offer1
9123                   3   Personal Auto   Personal L2            Offer2
9124                   2   Personal Auto   Personal L3            Offer2
9125                   2   Personal Auto   Personal L3            Offer1
9126                   4  Corporate Auto  Corporate L1            Offer1
9127                   3   Personal Auto   Personal L3            Offer2
9128                   1   Personal Auto   Personal L2            Offer1
9129                   2   Personal Auto   Personal L1            Offer2
9130                   1  Corporate Auto  Corporate L3            Offer1
9131                   2  Corporate Auto  Corporate L2            Offer1
9132                   3   Personal Auto   Personal L2            Offer3
9133                   1  Corporate Auto  Corporate L3            Offer4

      Sales Channel Total Claim Amount  Vehicle Class Vehicle Size
0             Agent         384.811147   Two-Door Car      Medsize
1             Agent        1131.464935  Four-Door Car      Medsize
2             Agent         566.472247   Two-Door Car      Medsize
3       Call Center         529.881344            SUV      Medsize
4             Agent         138.130879  Four-Door Car      Medsize
5               Web         159.383042   Two-Door Car      Medsize
6             Agent         321.600000  Four-Door Car      Medsize
7             Agent         363.029680  Four-Door Car      Medsize
8             Agent         511.200000  Four-Door Car      Medsize
9            Branch         425.527834  Four-Door Car      Medsize
10            Agent         482.400000  Four-Door Car        Small
11            Agent         528.000000            SUV      Medsize
12            Agent         472.029737  Four-Door Car      Medsize
13           Branch         528.000000            SUV      Medsize
14      Call Center         307.139132  Four-Door Car      Medsize
15           Branch          42.920271  Four-Door Car      Medsize
16      Call Center         454.245098   Two-Door Car      Medsize
17      Call Center         647.442031            SUV      Medsize
18           Branch         308.981664  Four-Door Car      Medsize
19      Call Center         484.800000  Four-Door Car        Small
20           Branch         355.200000   Two-Door Car      Medsize
21      Call Center         379.200000  Four-Door Car      Medsize
22            Agent         511.200000  Four-Door Car      Medsize
23           Branch         554.376763  Four-Door Car      Medsize
24           Branch         439.200000  Four-Door Car      Medsize

### Reference:
http://www.scan-support.com/help/sample-data-sets,
Automobile insurance customer information with the expected lifetime value of the customer.

## Homework 3.5
Provide an interesting analysis of the data columns ( frequency or averages )

In [61]:
# To retrive the names of all columns in the dataframe
data1.columns

Index([u'Customer', u'State', u'Customer Lifetime Value', u'Response',
       u'Coverage', u'Education', u'Effective To Date', u'EmploymentStatus',
       u'Gender', u'Income', u'Location Code', u'Marital Status',
       u'Monthly Premium Auto', u'Months Since Last Claim',
       u'Months Since Policy Inception', u'Number of Open Complaints',
       u'Number of Policies', u'Policy Type', u'Policy', u'Renew Offer Type',
       u'Sales Channel', u'Total Claim Amount', u'Vehicle Class',
       u'Vehicle Size'],
      dtype='object')

In [63]:
# This iloc method allows us to retrieve rows and columns by position
data1.iloc[:4,0]       # displays 4 rows for the first column

0    BU79786
1    QZ44356
2    AI49188
3    WW63253
Name: Customer, dtype: object

In [65]:
# This loc method allows us to retrieve columns by label instead of by position.
data1.loc[:5,["State","Customer"]]   # displays 5 rows for the specified column or column lists.

        State Customer
0  Washington  BU79786
1     Arizona  QZ44356
2      Nevada  AI49188
3  California  WW63253
4  Washington  HB64268
5      Oregon  OC83172

In [72]:
data1.mean() # displays average values of the numerical values in each dataframe column

Customer Lifetime Value           8004.940475
Income                           37657.380009
Monthly Premium Auto                93.219291
Months Since Last Claim             15.097000
Months Since Policy Inception       48.064594
Number of Open Complaints            0.384388
Number of Policies                   2.966170
Total Claim Amount                 434.088794
dtype: float64

In [77]:
# compares each value in Income column to a specified value(mean value of income), 
# then generate a Series full of Boolean values indicating the status of the comparison.
data1['Income']>37657

0        True
1       False
2        True
3       False
4        True
5        True
6        True
7       False
8       False
9       False
10      False
11      False
12       True
13       True
14       True
15      False
16      False
17      False
18       True
19       True
20       True
21      False
22      False
23      False
24      False
25       True
26      False
27      False
28       True
29       True
        ...
9104     True
9105    False
9106    False
9107    False
9108    False
9109    False
9110    False
9111     True
9112     True
9113     True
9114     True
9115    False
9116    False
9117     True
9118     True
9119     True
9120    False
9121    False
9122    False
9123    False
9124     True
9125    False
9126    False
9127     True
9128     True
9129     True
9130    False
9131    False
9132    False
9133    False
Name: Income, Length: 9134, dtype: bool

In [71]:
data1.count() # counts the number of non-null values in each DataFrame column

Customer                         9134
State                            9134
Customer Lifetime Value          9134
Response                         9134
Coverage                         9134
Education                        9134
Effective To Date                9134
EmploymentStatus                 9134
Gender                           9134
Income                           9134
Location Code                    9134
Marital Status                   9134
Monthly Premium Auto             9134
Months Since Last Claim          9134
Months Since Policy Inception    9134
Number of Open Complaints        9134
Number of Policies               9134
Policy Type                      9134
Policy                           9134
Renew Offer Type                 9134
Sales Channel                    9134
Total Claim Amount               9134
Vehicle Class                    9134
Vehicle Size                     9134
dtype: int64

In [75]:
# Computes pairwise correlation of columns
# pearson-standard correlation coefficient
# Minimum number of observations, required per pair of columns.
data1.corr(method='pearson', min_periods=3)

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
Customer Lifetime Value,1.000000,0.024366,0.396262,0.011517,0.009418,-0.036343,0.021955,0.226451
Income,0.024366,1.000000,-0.016665,-0.026715,-0.000875,0.006408,-0.008656,-0.355254
Monthly Premium Auto,0.396262,-0.016665,1.000000,0.005026,0.020257,-0.013122,-0.011233,0.632017
Months Since Last Claim,0.011517,-0.026715,0.005026,1.000000,-0.042959,0.005354,0.009136,0.007563
Months Since Policy Inception,0.009418,-0.000875,0.020257,-0.042959,1.000000,-0.001158,-0.013333,0.003335
Number of Open Complaints,-0.036343,0.006408,-0.013122,0.005354,-0.001158,1.000000,0.001498,-0.014241
Number of Policies,0.021955,-0.008656,-0.011233,0.009136,-0.013333,0.001498,1.000000,-0.002354
Total Claim Amount,0.226451,-0.355254,0.632017,0.007563,0.003335,-0.014241,-0.002354,1.000000

In [76]:
# Generates descriptive statistics,excluding NaN values.Can be applied on single data frame column or on all columns. 
data1.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678